{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="container form-control mx-auto mt-6">
  <h3>Invoice Detail</h3>
  <div class='row'>
    <div class=' col-6'>
      {{ invoice.code.label }}
      {{ invoice.code }}
    </div>
    <div class='col-6'>
      {{ invoice.type.label }}
      {{ invoice.type }}
    </div>
  </div>
  <div class='row'>
    <div class='col-6'>
      {{ invoice.partner.label }}
      {{ invoice.partner }}
    </div>
    <div class='col-6'>
      {{ invoice.date.label }}
      {{ invoice.date }}
    </div>
  </div>
  <br>
  <table class="table">
    <thead>
      <th>Code</th>
      <th>QTY</th>
      <th>Price</th>
    </thead>
    <tbody>
      {% for line in lines %}
      <tr>
        <td>{{ line.product }}</td>
        <td>{{ line.qty }}</td>
        <td>{{ line.price }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td>Total:</td>
        <td>{{ invoice.total }}</td>
      </tr>
    </tbody>
  </table>
  <div class='row'>
    <div class='col-2'>
      <a href="#" class='btn btn-success'>Edit</a>
    </div>
  </div>
</div>
{% endblock content %}
