{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/stock.js' %}" type="text/javascript"></script>
<link href="{% static 'css/stock.css' %}" rel="stylesheet" />
<div class="container form-control mx-auto mt-2">
  <form method="post">{% csrf_token %}
    <div class="row">
      <div class="col">
        {{ form.type.label }}
        {{ form.type }}
      </div>
      <div class="col">
        {{ form.date.label }}
        {{ form.date }}
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
    <button type="submit" class="btn btn-success mt-2">
      Create
    </button>
  </form>
</div>
{% endblock content %}
