{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/stock.js' %}" type="text/javascript"></script>
<link href="{% static 'css/stock.css' %}" rel="stylesheet" />
<div class="container-fluid rounded border border-dark mt-2 p-2">
  <div class='row p-1'>
    <div class=' col-8'>
      <div class="row">
        <h3> Stock Entry {{ object.code }}
      </div>
      <div class="row">
        <div class="col-4">
          {{ object.date.label }}
          {{ object.date }}
        </div>
        <div class="col-4">
          {{ object.status.label }}
          {{ object.status }}
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          {{ object.parent.label }}
          {{ object.parent }}
        </div>
        <div class="col-4">
          {{ object.type.label }}
          {{ object.get_type_display }}
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="row p-1">
        <div class="col-9">
        </div>
        {% if object.status == 'draft' %}
          <div class="col-3 container rounded border text-center bg-secondary">
        {% elif object.status == 'submitted' %}
          <div class="col-3 container rounded border text-center bg-primary">
        {% elif object.status == 'cancelled' %}
          <div class="col-3 container rounded border text-center bg-danger">
        {% endif %}
          <b>{{ object.get_status_display }}</b>
        </div>
      </div>
    </div>
  </div>

  <div class"row p-2">
    <div class="col-12 container-fluid rounded border border-dark">
      <table class="table table-hover border-dark mb-0">
        <thead>
          {% if object.status == 'draft' %}
            <th style="width:50%;">Code</th>
            <th class="text-end" style="width:15%;">QTY</th>
            <th class="text-end" style="width:15%;">Price</th>
            <th class="text-end" style="width:15%;">Total</th>
            <th class="text-end" style="width:5%;"></th>
          {% else %}
            <th style="width:55%;">Code</th>
            <th class="text-end" style="width:15%;">QTY</th>
            <th class="text-end" style="width:15%;">Price</th>
            <th class="text-end" style="width:15%;">Total</th>
          {% endif %}
        </thead>
        <tbody>
          {% for line in lines %}
            {% if object.status == 'draft' %}
              <tr onclick="edit_line({{line.id}})">
            {% else %}
              <tr>
            {% endif %}
            {% if object.status == 'draft' %}
              <td class="hidden">{{ line.id }}</td>
              <td style="width:50%;">{{ line.item }}</td>
              <td class="text-end" style="width:15%;">{{ line.qty }}</td>
              <td class="text-end" style="width:15%;">{{ line.price }}</td>
              <td class="text-end" style="width:15%;">{{ line.total }}</td>
              <td class="text-end" style="width:5%;">
                <div>
                  <span onclick="delete_line({{line.id}})" type="button" class="material-icons">
                    delete
                  </span>
                </div>
              </td>
              {% else %}
              <td class="hidden">{{ line.id }}</td>
              <td style="width:55%;">{{ line.item }}</td>
              <td class="text-end" style="width:15%;">{{ line.qty }}</td>
              <td class="text-end" style="width:15%;">{{ line.price }}</td>
              <td class="text-end" style="width:15%;">{{ line.total }}</td>
              {% endif %}
          </tr>
          {% endfor %}
          <tr class="text-end">
            <td></td>
            <td></td>
            <td>Total:</td>
            <td>{{ object.total }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row p-2">
    <div class=" col-8">
    </div>
    <div class="col-4 container rounded border border-dark">
      <table class="table mb-0 border-dark">
        <tr>
          <td>Total:</td>
          <td>{{ object.total }}</td>
        </tr>
        <tr>
          <td>Payments:</td>
          <td>0.0</td>
        </tr>
        <tr>
          <td>Outstanding:</td>
          <td>0.0</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row p-0 mb-1">
    {% if object.status == 'draft' %}
    <div class="col-6">
      <button onclick="add_line({{object.id}})" id="add-item-btn" type="button" class="btn btn-primary">
        Add Item
      </button>
    </div>
    <div class="col-6">
      <button id="submit-modal-btn" type="button" class="btn btn-success mt-2 pull-right" data-bs-toggle="modal"
        data-bs-target="#submitSteModal">
        Submit
      </button>
    </div>
    {% endif %}
    {% if object.status == 'submitted' %}
    <div class="col-12">
      <button id="cancel-modal-btn" type="button" class="btn btn-danger mt-2 pull-right" data-bs-toggle="modal"
        data-bs-target="#cancelSteModal">
        Cancel
      </button>
    </div>
    {% endif %}
  <div>

  <!-- Item Modal -->
  <div class="modal fade" id="itemModal" tabindex="-1" aria-labelledby="itemModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header" id="item-modal-content">
          <!-- ITEM -->
        </div>
      </div>
    </div>
  </div>

  <!-- Submit Modal -->
  <div class="modal fade" id="submitSteModal" tabindex="-1" aria-labelledby="submitSteModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Submit ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'stock:submit' pk=object.id%}" method='POST'>
            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                <h5> {{ object.code }} </h5>
              </div>
              <div class="col-6">
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Cancel Modal -->
  <div class="modal fade" id="cancelSteModal" tabindex="-1" aria-labelledby="cancelSteModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cancel ?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="{% url 'stock:cancel' pk=object.id%}" method='POST'>
            {% csrf_token %}
            <div class="row">
              <div class="col-6">
                <h5> {{ object.code }} </h5>
              </div>
              <div class="col-6">
                <div class="pull-right">
                  <button type="submit" class="btn btn-primary">Yes</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}
