{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<script src="{% static 'js/partner.js' %}" type="text/javascript"></script>
<link href="{% static 'css/partner.css' %}" rel="stylesheet"/>
<div class="container rounded border border-dark mt-2">
  <table class="table ">
    <thead>
      <th>Name</th>
      <th>Type</th>
      <th>Address</th>
    </thead>
    <tbody>
      {% for partner in object_list %}
      <tr>
        <td>{{ partner.name }}</td>
        <td>{{ partner.type }}</td>
        <td>{{ partner.address }}</td>
        <td>
          <div class="pull-right">
            <a href="{% url 'partner:edit' pk=partner.id %}" type="button" class="material-icons">edit</a>
            <a href="{% url 'partner:delete' pk=partner.id %}" type="button" class="material-icons">delete</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% include 'main/footer.html' %}
</div>
{% endblock content %}
