{% extends 'main/main.html' %}
{% load static %}
{% block content %}
<br>
<div class="container-fluid rounded border border-dark mt-2 p-2">
  <form method='POST'>{% csrf_token %}
    <div class="row p-1">
      <div class="col-6">
        <p> Confirm Delete: <b>{{ object.code }}</b></p>
      </div>
    </div>
    <div class="row p-1">
      <div class="col-6">
        <button type="submit" class="btn btn-success"/>
          Confirm
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
